*{
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

/* Header part */
.header{
    height: 808px;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
}
.header-contain{
    text-align: right;
}
.header-title{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    padding-top: 216px;
    padding-left: 1040px;
    padding-right: 230px;
}
.header-description{
    color: #FFF;
    line-height: 26px;
    margin-top: 24px;
    padding-left: 1140px;
    padding-right: 230px;
}
.btn-primary{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px 25px;
    margin-right: 230px;
    margin-top: 32px;
    border: 0;
    
}
